<configuration>
    <!-- INFO 로그 Appender -->
    <appender name="INFO" class="ch.qos.logback.core.FileAppender">
        <file>/logs/myapp_logs/info-${PID}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- WARN 로그 Appender -->
    <appender name="WARN" class="ch.qos.logback.core.FileAppender">
        <file>/logs/myapp_logs/warn-${PID}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ERROR 로그 Appender -->
    <appender name="ERROR" class="ch.qos.logback.core.FileAppender">
        <file>/logs/myapp_logs/error-${PID}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 전체 로그 Appender -->
    <appender name="FULL_LOGS" class="ch.qos.logback.core.FileAppender">
        <file>/logs/myapp_logs/full-logs-${PID}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로깅 설정 -->
    <root level="INFO">
        <appender-ref ref="INFO" />
        <appender-ref ref="WARN" />
        <appender-ref ref="ERROR" />
        <appender-ref ref="FULL_LOGS" />
    </root>
</configuration>
